.footer {
  display: block;
  width: 100%;
}

.footerIcon {
  width: 100%;
  margin-top: 0;
  text-align: left;
}

.Mui-selected,
.MuiBottomNavigationAction-label {
  color: var(--text-color);
  text-align: left;
  margin-top: 1rem;
  font-style: italic;
}

.dRSC {
  width: 114%;
}
