@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
  --first-color: #173d52;
  --second-color: #e0e0e0;
  --third-color: #0d2430;
  --fourth-color: #d2904f;
  --second-color-rgb: 211 232 243;

  --std-bs: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  --text-color: var(--second-color);
  --buton-color: #1976d2;
}

body {
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;  
  margin: 0;
  background-color: var(--first-color);
}

.footerIcon {
  width: 100%;
  padding: 1px;
  text-align: left;

}

.Mui-selected, .MuiBottomNavigationAction-label	 {
  color: var(--text-color);
  text-align: left;
  margin-top: 0.2rem;
  font-style: italic;
}

#back-to-top-anchor {
  display: hidden;
}
